<nav class="navbar">
    <div class="container">
        <ul class="nav-links">
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <div class="navbar-right">
                <li><a href="{{ site.baseurl }}/about/">About</a></li>
                <li><a href="{{ site.baseurl }}/projects/">Projects</a></li>
                <li><a href="{{ site.baseurl }}/publications/">Publications</a></li>
                <li><a href="{{ site.baseurl }}/contact/">Contact</a></li>
            </div>
        </ul>
    </div>
</nav>
