<div class="topnav">
    <a href="{{ site.baseurl }}/">Home</a>
    <div class="navbar-toggle" id="js-navbar-toggle">&#9776;
        <div class="topnav-right">
            <ul class="nav-links" id="js-menu">
                <a href="{{ site.baseurl }}/about/">About</a>
                <a href="{{ site.baseurl }}/projects/">Projects</a>
                <a href="{{ site.baseurl }}/publications/">Publications</a>
                <a href="{{ site.baseurl }}/contact/">Contact</a>
            </ul>
        </div>
    </div>
</div>