:root {
    --primary-colour: #154734;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #fff;
    color: #333;
}

.root-container {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

.header-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1 rem;
}

.column {
    padding: 1rem;
}

.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.topnav {
    background-color: var(--primary-colour);
    overflow: hidden;
}

ul ul {
    list-style-type: circle;
    margin-left: 20px;
}

ul ul li {
    margin-top: auto;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #446C5D;
}

.topnav a.icon {
    display: none;
}

header {
    background: #fff;
    color: #333;
    padding-top: 30px;
    min-height: 70px;
    text-align: center;
    border-bottom: var(--primary-colour) 3px solid;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color:  var(--primary-colour);
}

header p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

header .btn {
    display: inline-block;
    color: #fff;
    background:  var(--primary-colour);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    margin-bottom: 20px;
}

.stats {
    padding: 20px 0;
    background: #fff;
    color: #333;
    text-align: center;
}

.stat {
    display: inline-block;
    width: 23%;
    margin-right: 1%;
    margin-bottom: 20px; /* Added to space out rows on small screens */
}

.stat h2 {
    font-size: 2.5em;
    color:  var(--primary-colour);
}

.stat p {
    font-size: 1.0em;
    font-weight: bold;
    text-align: center;
    color: black;
}

footer {
    padding: 20px 0;
    text-align: center;
    background:  var(--primary-colour);
    color: #fff;
}

.portrait {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
    vertical-align: middle;
}

.about-container {
    width: 100vw;
    margin: 0 20px;
    padding: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

.about-hero {
    padding: 50px;
    text-align: center;
}

.about-container h2, .about-container h3 {
    color: var(--primary-colour);
}

.about-container a {
    color: var(--primary-colour);
    text-decoration: none;
}

.about-container a:hover {
    text-decoration: underline;
}

.about-container ul {
    list-style-type: circle;
    padding-left: 0;
}

.about-container li {
    margin-top: 10px;
}

.about-container li::marker {
    color: var(--primary-colour);
}

hr {
    border: 1px solid var(--primary-colour);
    margin: 20px 0;
}

.about-container strong {
    color: var(--primary-colour);
}

.about-container em {
    font-style: italic;
}

.publications-container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

.publications-container h2 {
    color: var(--primary-colour);
    text-align: center;
    margin-bottom: 20px;
}

.publication {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid var(--primary-colour);
    border-radius: 5px;
    background-color: #f9f9f9;
}

.publication h3 {
    color: var(--primary-colour);
    margin-bottom: 5px;
}

.publication p {
    margin: 0;
    color: #555;
}

.publication p.article {
    padding-top: 20px;
    padding-bottom: 20px;
}

.publication strong {
    color: var(--primary-colour);
}

.contact-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

.contact-container h2 {
    color: var(--primary-colour);
    text-align: center;
    margin-bottom: 20px;
}

.contact-container div {
    margin-bottom: 15px;
}

.contact-container a {
    color: var(--primary-colour);
    text-decoration: none;
}

.contact-container a:hover {
    text-decoration: underline;
}

.contact-icon {
    color: var(--primary-colour);
    margin-bottom: 50px;
    align-items: center;
    width: 25%;
    padding-right: 20px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    gap: 1em;
    color: black;
}

.project {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    flex: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project h2 {
    color: #036635;
}

.project a {
    color: #036635;
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
}

.project p {
    margin: 10px 0;
}

.project h3 {
    margin-top: 15px;
}

.project ul {
    list-style-type: circle;
    margin-left: 20px;
}

.project li::marker {
    color: var(--primary-colour);
}

.project .btn{
    display: inline-block;
    color: #fff;
    background:  var(--primary-colour);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.project .demo-btn {
    text-align: center;
    text-decoration: none;
}

#country-info-project {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 80%;
    margin-inline: auto;
}

#country-info-project input {
    padding: 10px;
}

#country-info-project button {
    padding: 10px 20px;
    background-color: var(--primary-colour);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

#country-info-project button:hover {
    background-color: #28cc8a;
    color: black;
}

#country-info-project #countryInfo {
    margin-top: 20px;
}

.are-you-bored {
    text-align: center;
    margin: 20px;
}
  
#activityButton {
    background-color: var(--primary-colour);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
  
#activityButton:hover {
    background-color: #2ecc71;
    color: black;
}
  
#activityResult {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 60%;
    margin-inline: auto;
    font-size: 1.2em;
}
  
#categorySelect {
    margin: 10px;
    padding: 10px;
}

.footer-small-text {
    padding-top: 10px;
    color: #ccc;
    font-size: small;
}

.activity {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 3px;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  

/* Media Queries for Responsive Design */

@media (max-width: 768px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
  .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
  }

    .header-content {
        padding: 20px;
        grid-template-columns: 1fr;
    }
    
    .stats {
        padding: 20px 10px;
    }
    
    .stat {
        width: 45%;
        margin-right: 5%;
    }
    
    .stat:last-child {
        margin-right: 0;
    }

    .contact-icon {
        width: 50%;
    }
    
    .project {
        flex: 45%;
    }

    #country-info-project {
        width: 100%;
    }

    #activityResult {
        width: 100%;
    }

    .about-container {
        margin: 0 10px;
    }
}

@media (max-width: 480px) {
    .stat {
        width: 100%;
        margin-right: 0;
    }

    .contact-icon {
        width: 100%;
    }

    .project {
        flex: 100%
    }
}
