:root {
    --primary-colour: rgb(21, 71, 52);
    --hero-h1-font-size: 3.0em;
    --hero-font-size: 2.0em;
    --hero-h2-font-size: 1.5em;
    --hero-p-font-size: 1.0em;
    --card-background-colour: #f3f6fc;
    --hero-background-colour: #dfebf6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #fff;
    color: #333;
}

hr {
    border: 1px solid var(--primary-colour);
    margin: 20px 0;
}

.gradient-text {
    background-image: linear-gradient(
        225deg,
        hsl(157deg 54% 18%) 0%,
        hsl(169deg 54% 22%) 1%,
        hsl(181deg 53% 25%) 4%,
        hsl(192deg 52% 29%) 9%,
        hsl(204deg 51% 33%) 17%,
        hsl(216deg 51% 37%) 26%,
        hsl(227deg 50% 41%) 38%,
        hsl(239deg 49% 45%) 51%,
        hsl(251deg 48% 49%) 65%,
        hsl(262deg 53% 53%) 77%,
        hsl(274deg 61% 57%) 87%,
        hsl(286deg 71% 61%) 94%,
        hsl(297deg 83% 65%) 98%,
        hsl(309deg 99% 69%) 100%
    );
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

@font-face {
    font-family: 'myFont';
    src: url('../fonts/LedDisplay7-PKD9Z.ttf') format('truetype');
}

.root-container {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

.header-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.homepage-hero-section {
    background-color: var(--hero-background-colour);
    padding-bottom: 2rem;
}

.column {
    justify-self: center;
    align-self: center;
}

.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.topnav {
    background-color: var(--primary-colour);
    overflow: hidden;
}

ul ul {
    list-style-type: circle;
    margin-left: 20px;
}

ul ul li {
    margin-top: auto;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #446C5D;
}

.topnav a.icon {
    display: none;
}

header {
    background: #fff;
    color: #333;
    padding-top: 30px;
    min-height: 70px;
    text-align: center;
}

header h1 {
    font-size: var(--hero-h1-font-size);
    margin-bottom: 10px;
    color:  var(--primary-colour);
}

header h2 {
    font-size: var(--hero-h2-font-size);
    margin-bottom: 10px;
    color:  var(--primary-colour);
}

.hero-paragraph {
    font-size: var(--hero-p-font-size);
    margin-bottom: 20px;
    padding: 2em;
    text-align: center;
}

.hero-scale {
    font-family: 'myFont';
    font-size: var(--hero-font-size);
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
    color:#333
}

@keyframes gradientBorder {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

header .btn {
    display: inline-block;
    color: #fff;
    background:  var(--primary-colour);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    font-size: var(--hero-p-font-size);
}

header .btn::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(45deg, #ff0066, #ff6600, #ffcc00, #00ffcc, #0066ff);
    background-size: 300% 300%;
    animation: gradientBorder 3s ease infinite;
    z-index: -1;
    border-radius: 15px;
}

header .btn::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background: var(--primary-colour);
    z-index: -1;
    border-radius: 10px;
}

footer {
    padding: 20px 0;
    text-align: center;
    background:  var(--primary-colour);
    color: #fff;
    font-size: small;
}

footer a {
    color: inherit;
}

footer a:visited {
    color: inherit;
}

footer a:hover {
    color: inherit;
}

footer a:active {
    color: inherit;
}

.portrait {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
    vertical-align: middle;
}

.about-container {
    margin: 0 20px;
    padding: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

.about-hero-container .about-hero {
    padding: 20px;
    text-align: left;
    max-width: 700px;
    margin: auto;
}

.about-hero-container {
    background-color: var(--hero-background-colour);
    width: 100%;
}

.projects-hero-container .projects-hero{
    padding: 20px;
    text-align: left;
    max-width: 700px;
    margin: auto;
}

.projects-hero-container {
    background-color: var(--hero-background-colour);
    width: 100%;
}


.publications-hero-container .publications-hero {
    padding: 20px;
    text-align: left;
    max-width: 700px;
    margin: auto;
}

.publications-hero-container {
    background-color: var(--hero-background-colour);
    width: 100%;
}

.about-container h2, .about-container h3 {
    color: var(--primary-colour);
    padding-bottom: 10px;
}

.about-container h3 {
    color: var(--primary-colour);
}

.about-container a {
    color: var(--primary-colour);
    text-decoration: none;
}

.about-container a:hover {
    text-decoration: underline;
}

.about-container ul {
    list-style-type: circle;
    padding-left: 0;
}

.about-container li {
    margin-top: 10px;
    padding-bottom: 10px;
}

.about-container li::marker {
    color: var(--primary-colour);
}

.about-container .about-hero-container strong {
    color: var(--primary-colour);
}

.about-container em {
    font-style: italic;
}

.about-hero-container .about-hero strong:nth-child(1){
    font-size: var(--hero-h2-font-size);
    /*background-color: rgba(21, 71, 52, 0.8);
    box-sizing: border-box;*/
    color: var(--primary-colour)
    /*padding-left: 10px;
    padding-right: 10px;*/
}

.projects-hero-container .projects-hero strong:nth-child(1){
    font-size: var(--hero-h2-font-size);
    /*background-color: rgba(21, 71, 52, 0.8);
    box-sizing: border-box;*/
    color: var(--primary-colour)
    /*padding-left: 10px;
    padding-right: 10px;*/
}

.publications-hero-container .publications-hero strong:nth-child(1){
    font-size: var(--hero-h2-font-size);
    /*background-color: rgba(21, 71, 52, 0.8);
    box-sizing: border-box;*/
    color: var(--primary-colour)
    /*padding-left: 10px;
    padding-right: 10px;*/
}

.about-hero-container .about-hero strong:nth-child(2){
    font-size: var(--hero-h2-font-size);
}

.projects-hero-container .projects-hero strong:nth-child(2){
    font-size: var(--hero-h2-font-size);
}

.publications-hero-container .publications-hero strong:nth-child(2){
    font-size: var(--hero-h2-font-size);
}

.publications-hero-container .publications-hero strong:nth-child(3){
    font-size: var(--hero-h2-font-size);
}

.contact-container {
    max-width: 700px;
    margin: 0 auto;
    padding: 10px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

.contact-container h2 {
    color: var(--primary-colour);
    text-align: center;
    margin-bottom: 20px;
}

.contact-container p:nth-child(1) {
    padding-bottom: 2rem;
}

.contact-container div {
    margin-bottom: 15px;
}

.contact-container a {
    color: var(--primary-colour);
    text-decoration: none;
}

.contact-container a:hover {
    text-decoration: underline;
}

.contact-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
}

.contact-icon {
    color: var(--primary-colour);
    align-self: center;
}

#country-info-project {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 80%;
    margin-inline: auto;
}

#country-info-project input {
    padding: 10px;
}

#country-info-project button {
    padding: 10px 20px;
    background-color: var(--primary-colour);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

#country-info-project button:hover {
    background-color: #28cc8a;
    color: black;
}

#country-info-project #countryInfo {
    margin-top: 20px;
}

.are-you-bored {
    text-align: center;
    margin: 20px;
}
  
#activityButton {
    background-color: var(--primary-colour);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
  
#activityButton:hover {
    background-color: #2ecc71;
    color: black;
}
  
#activityResult {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 60%;
    margin-inline: auto;
    font-size: 1.2em;
}
  
#categorySelect {
    margin: 10px;
    padding: 10px;
}

.footer-small-text {
    color: #ccc;
    font-size: small;
}

.activity {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 3px;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    padding: 1em;
}

.card {
    background-color: var(--card-background-colour);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 200px;
}

.card h2 {
    margin: 16px;
    color: var(--primary-colour);
    font-size: var(--hero-h2-font-size);
}

.card p {
    margin: 16px;
    flex: 1;
}

.card a {
    text-decoration: none;
}

.card a button {
    background-color: var(--primary-colour);
    color: white;
    border: none;
    padding: 12px;
    margin: 0 16px 16px 16px; /* Adjusted to ensure proper margins */
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(100% - 32px); /* Adjusted to fit within the card */
    display: block;
    text-align: center;
}

.card a button:hover {
    background-color: #2ecc71;
    color: black;
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    padding: 1em;
    align-items: start;
    grid-auto-flow: row dense;
}

.project {
    background-color: var(--card-background-colour);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
}

.project h2 {
    color: #036635;
    font-size: var(--hero-p-font-size);
}

.project a {
    color: #036635;
    text-decoration: none;
}

.project a:hover {
    text-decoration: none;
}

.project p {
    margin: 10px 0;
    flex: 1;
}

.project h3 {
    margin-top: 15px;
}

.project ul {
    list-style-type: circle;
    margin-left: 20px;
}

.project li::marker {
    color: var(--primary-colour);
}

.project .btn{
    display: inline-block;
    color: #fff;
    background:  var(--primary-colour);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 10px;
}

.project .btn:hover {
    background-color: #2ecc71;
    color: black;
}

.project .demo-btn {
    text-align: center;
    text-decoration: none;
}

.project strong {
    color: var(--primary-colour);
} 

/* From Uiverse.io by mrhyddenn */ 
.btn-uiverse {
    background: #dfebf6;
    color: #000;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    padding: 20px 30px;
    cursor: pointer;
    perspective: 30rem;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.308);
  }
  
  .btn-uiverse::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: linear-gradient(
      320deg,
      rgba(0, 140, 255, 0.678),
      rgba(128, 0, 128, 0.308)
    );
    z-index:1;
    transition: background 3s;
  }
  
  .btn-uiverse:hover::before {
    animation: rotate 1s;
    transition: all 0.5s;
  }
  
  @keyframes rotate {
    0% {
      transform: rotateY(180deg);
    }
  
    100% {
      transform: rotateY(360deg);
    }
  }
  

/* Media Queries for Responsive Design */

@media (max-width: 768px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
  .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
  }

    .header-content {
        padding: 20px;
        /*grid-template-columns: 1fr;*/
    }

    .contact-icon {
        width: 50%;
    }
    
    .projects {
        grid-template-columns: repeat(2, 1fr);
    }

    #country-info-project {
        width: 100%;
    }

    #activityResult {
        width: 100%;
    }

    .about-container {
        margin: 0 10px;
    }

    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .contact-icon {
        width: 100%;
    }

    .projects{
        grid-template-columns: 1fr;
    }

    .header-content {
        grid-template-columns: 1fr;
    }

    .card-container {
        grid-template-columns: 1fr;
    }
}
