* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #fff;
    color: #333;
}

.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #154734;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #446C5D;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

.nav-links {
    display: inline;
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-links li {
    display: block;
    margin: 10px 0;
}

.nav-links a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
}

.navbar-toggle {
    display: none;
    font-size: 2em;
    cursor: pointer;
}

header {
    background: #fff;
    color: #333;
    padding-top: 30px;
    min-height: 70px;
    text-align: center;
    border-bottom:  #154734 3px solid;
}

.header-content {
    padding: 30px 0;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color:  #154734;
}

header .highlight {
    color:  #154734;
}

header p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

header .btn {
    display: inline-block;
    color: #fff;
    background:  #154734;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
}

.stats {
    padding: 20px 0;
    background: #fff;
    color: #333;
    text-align: center;
}

.stat {
    display: inline-block;
    width: 23%;
    margin-right: 1%;
    margin-bottom: 20px; /* Added to space out rows on small screens */
}

.stat h2 {
    font-size: 2.5em;
    color:  #154734;
}

.stat p {
    font-size: 1.0em;
    font-weight: bold;
    text-align: center;
    color: black;
}

footer {
    padding: 20px 0;
    text-align: center;
    background:  #154734;
    color: #fff;
}

.portrait {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
}

/* Media Queries for Responsive Design */

@media (max-width: 768px) {
    .topnav {
        flex-direction: column;
    }
    
    .navbar-toggle {
        display: block;
        color: white;
        float: right;
        padding-right: 10px;
    }
    
    .nav-links {
        display: none;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    
    .nav-links li {
        display: block;
        margin: 10px 0;
    }
    
    .nav-links.active {
        display: flex;
    }

    .header-content {
        padding: 20px;
    }
    
    .stats {
        padding: 20px 10px;
    }
    
    .stat {
        width: 45%;
        margin-right: 5%;
    }
    
    .stat:last-child {
        margin-right: 0;
    }
}

@media (max-width: 480px) {
    .stat {
        width: 100%;
        margin-right: 0;
    }
}
